{% load static %}
{% load tags_for_inc %}


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%} ">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%} ">
    <title>Shop</title>
</head>

  {% comment %}  {% include 'inc/_header.html' %} {% endcomment %}

  {% get_header %}

{% block content %}{% endblock %}



<script type="text/javascript" scr="https://code.jquery.com/jquery-3.6.4.slim.min.js"
integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
crossorigin="anonymous"></script>
<script type="text/javascript" scr="{% static 'js/main.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% include 'inc/_footer.html' %}

<button id="top">
    <i class="fas fa-angle-double-up"></i>
</button>


</body>

</html>